<section>
    <video-thumbnail [thumbnail]="data.snippet.thumbnails.high.url"></video-thumbnail>
    <div class="description"  borderColor [date]="data.snippet.publishedAt">
        <div class="head-titel">
            <video-title class="title" [title]="data.snippet.title"></video-title>
            <p>{{ data.snippet.publishedAt | date : 'EEEE, MMMM d, y' }}</p>
        </div>
        <h2>Description:</h2>
        <p>{{ data.snippet.description }}</p>

        <div class="statistic">
            <views-count class="statistic-icon" [viewCount]="data.statistics.viewCount"></views-count>
            <likes-count class="statistic-icon" [likeCount]="data.statistics.likeCount"></likes-count>
            <dislikes-count class="statistic-icon" [dislikeCount]="data.statistics.dislikeCount"></dislikes-count>
            <comments-count class="statistic-icon" [commentCount]="data.statistics.commentCount"></comments-count>
        </div>
    </div>

</section>
