<section>
    <video-thumbnail [thumbnail]="url |async "></video-thumbnail>
    <div class="description"  borderColor [date]="publishedAt|async">
        <div class="head-titel">
            <video-title class="title" [title]="title|async"></video-title>
            <p>{{ publishedAt|async| date : 'EEEE, MMMM d, y' }}</p>
        </div>
        <h2>Description:</h2>
        <p>{{ description|async }}</p>

        <div class="statistic">
            <views-count class="statistic-icon" [viewCount]="data.statistics.viewCount"></views-count>
            <likes-count class="statistic-icon" [likeCount]="data.statistics.likeCount"></likes-count>
            <dislikes-count class="statistic-icon" [dislikeCount]="data.statistics.dislikeCount"></dislikes-count>
            <comments-count class="statistic-icon" [commentCount]="data.statistics.commentCount"></comments-count>
        </div>
    </div>

</section>
